@import url("https://fonts.googleapis.com/css2?family=Actor&family=Jua&family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* nav */
.nav {
    background-image: url("./photos/navbar_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    display: flex;
    align-items: center;
}

.nav__conatiner {
    width: 1320px;
    max-width: 95%; /* щоб не вилазило на малих екранах */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__conatiner a {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/* burger Menu & Left Panel - ВИПРАВЛЕНО */
#leftPanel {
    position: fixed;
    top: 0;
    left: 0; /* притискаємо до лівого краю */
    width: 400px;
    max-width: 80%;
    height: 100vh;
    background-color: white;
    transform: translateX(-100%); /* ховаємо ПОВНІСТЮ вліво */
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

/* firstsection */
.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    width: 100%; /* замість 100vw */
    background-image: url("./photos/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 72px 20px;
}

/* secondSection */
.secondSection {
    width: 100%;
    background-image: url("./photos/bg2.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

.first__item, .second__item, .third__item {
    display: flex;
    justify-content: center;
    align-items: center; /* Центруємо фото і текст */
    gap: 100px;
    width: 100%;
    margin-bottom: 50px;
}

.second__item {
    flex-direction: row-reverse;
}

.first__item img, .second__item img, .third__item img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.first__item__price, .second__item__price, .third__item__price {
    width: 640px;
}

/* Прайс: назва зліва, ціна справа */
.first__item__price__container, .second__item__price__container, .third__item__price__container {
    display: flex;
    justify-content: space-between; 
}

/* thirdSection (Майстер) */
.thirdSection {
    width: 100%;
    background-image: url("./photos/bg3.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 72px;
}

.thirdSection__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    max-width: 1200px;
    margin: 0 auto; /* ЦЕНТРУЄМО БЛОК МАЙСТРА */
}

/* footer */
.footer {
    width: 100%;
    background-image: url("./photos/bg5.jpg");
    background-size: cover;
    padding: 72px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
}
